# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Next Auth
# You can generate the secret via 'openssl rand -base64 32' on Linux
# More info: https://next-auth.js.org/configuration/options#secret
JWT_SECRET=mysecret
NEXTAUTH_URL=http://localhost:3000

# Next Auth Admin Login
ADMIN_EMAIL=
ADMIN_PASSWORD=

SVELTOS_NAMESPACE=
SVELTOS_SECRET_NAME=
SVELTOS_URL=
# Base Path where to deploy the UI
NEXT_PUBLIC_BASE_PATH=/


