{
  "ignorePatterns": ["src/gen/**/*"],
  // "overrides": [
  //   {
  //     "extends": [
  //       "plugin:@typescript-eslint/recommended-requiring-type-checking"
  //     ],
  //     "files": ["*.ts", "*.tsx"],
  //     "parserOptions": {
  //       "project": "tsconfig.json"
  //     }
  //   }
  // ],
  // "parser": "@typescript-eslint/parser",
  // "parserOptions": {
  //   "project": "./tsconfig.json"
  // },
  // "plugins": ["@typescript-eslint"],
  // "extends": [
  //   "next/core-web-vitals",
  //   "plugin:@typescript-eslint/recommended",
  //   "plugin:storybook/recommended"
  // ],
  "extends": "next",
  "rules": {
    // "@typescript-eslint/consistent-type-imports": "warn",
    // "@typescript-eslint/no-floating-promises": "off",
    // "@typescript-eslint/no-empty-function": "off",
    // "@typescript-eslint/no-unsafe-assignment": "off",
    // "@typescript-eslint/no-explicit-any": "off",
    // "@typescript-eslint/no-unsafe-member-access": "off"
  }
}
